.articlecategory-section{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.articlecategory-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-bottom: 50px ;
    
}

  .articlecategory-column {
    margin: 10px;
  }
  
  .articlecategory-column:hover {
    color: #ffffff;
    
  }
  
  .articlecategory-box {
    width: 200px;
    height: 225px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    color: #000000;
    margin-bottom: 25px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .articlecategory-box:hover {
    background-color: #003C46;
    color: #ffffff;
    box-shadow: 0px 4px 10px #64A5AF;
  }
  
  .articlecategory-box img {
    width: 100%;
    
  }
  .articlecategory-box h2 {
    font-size: 16px;
  }
  
  .articlecategory-heading>h1{
    justify-content: center;
    text-align: center;
    color: #05555A;
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 0px;
  }
 
  .articlecategory-box p {
    margin-bottom: 2px;
    margin-top: 0%;
    font-size: 14px;
  }
  
  .articlecategory-para {
    color: #05555A;
  }
  
  .articlecategory-date {
    color: #6B7280;
  }
  .article-button{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
  }
  .article-button button{
    background-color: #05555A;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    position: absolute;
    width: 89px;
    height: 45px;
    font-size: 16px;
  }
  .article-button button:hover{
    background-color: #ffffff;
    border-radius: 5px #05555A;
    color: #05555A;
    border: 2px solid #05555A;
    cursor: pointer;
  }
@media screen and (max-width: 768px) {
    .articlecategory-section {
        margin-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .articlecategory-container {
        justify-content: center;
      }

}