.article {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #64A5AF;
}
.article-section {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.article-section>h1{
    font-size: 56px;
    color: #05555A;
    margin-bottom: 40px;
}
.article-section>p{
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 40px;
    margin-top: 0px;
}

input{
    border: 2px solid #FFFFFF;
    border-radius: 10px ;
    width: 700px;
    height: 60px;
    background-color: #64A5AF;
    padding: 20px;
}
input:focus {
    outline: none;
    color: #FFFFFF;
  }

 
  
  @media screen and (max-width: 768px) {
    .article {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      gap: 0px;
      display: grid;
      grid-template-columns: 1fr;
    }
    input{
        width: 100%;
        height: auto;
    }
    .article-section>h1{
        font-size: 37px;
        margin-bottom: 40px;
        margin-top: 0px;
    }
    .article-section>p{
        font-size: 16px;
        line-height: 30px;
    }
   
  }
  
  
  
 

  
  
  
  